/* SVG styling */
svg {
        width: 480px;
        height: 440px;
        margin-top: 20px;
}

#spiralAppCount {
	width: 430px;
	padding-top: 10px;

}

#spiralGameCount {
	width: 430px;
	padding-top: 10px;
}

#spiralAppCount svg, #spiralGameCount svg, #spiralTotalCount svg {
        width: 430px;
        height: 570px;
}

#gradient {
	margin-left: 5px;
	margin-top: 10px;
	padding-top: 65px;
}

#gradient tr td{
	text-align: center;
}

#gameBar, #appBar {
	width: 30px;
	height: 300px;
}

#appBar svg, #gameBar svg{
	width: 40px;
	height: 275px;
	margin: 0px;
}

path {
        stroke: #777;
        stroke-width: 0.1px;
}

.labels {
        fill: #aaa;
        font-weight: 200;
        letter-spacing: -1px;
        opacity: .6;
}
.labels.segment {
        font-size: 10px;
}
